# IMPORTNAT: if you add changes here you may have to update the VS Code settings and the template file
# .vscode/settings.template.json (then notify the team to update their settings.json).
# Despite the several recipes out there to make VS Code read .pylinrc, I could not make it work - if you find a way to
# make it work, please update the settings tempalte to use that file and notify the team

[MASTER]

# Add the path to our modules to avoid "import error" when linting
# Even though we set extra paths in the VS Code settings, we need to set them here to use with the linters outside of
# VS Code, e.g. in GitHub Actions and Jenkins pipelines
# Inspired by discussion in https://stackoverflow.com/a/39207275 to make it work without hard-coded paths
# The important parts:
#   - find_pylintrc(): return the path to the .pylintrc file inside the local Git clone
#   - os.path.dirname: strip the file name ".pylintrc", leaving only the path to the local Git clone
#   - os.path.join: join the pieces of hthete path in an OS-indepedent manner (/ for Unix, \ for Windows)
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.join(os.path.dirname(find_pylintrc()), 'reporting', 'src'))"

# Extra checks
load-plugins=pylint.extensions.docparams,pylint.extensions.docstyle

[FORMAT]

max-line-length=120

[BASIC]

# Relaxed variable names - pretty much any syntatically valid name
good-names-rgxs=[_a-z][_a-z0-9]?$
