# The tools for this project are still rapidly evolving
# We specify the versions to avoid breaking changes

langchain == 0.0.197
chromadb == 0.3.25   # Vector database - embedding persistence

# For the LangChain document loaders
pdfminer.six == 20221105

# For HuggingFace embeddings
sentence_transformers == 2.2.2

# For the LLM
gpt4all == 0.3.4

# Linters and formatters (use the latest versions)
pylint
black
prospector
