# The tools for this project are still rapidly evolving
# We specify the versions to avoid breaking changes

langchain == 0.0.324
chromadb == 0.4.15   # Vector database - embedding persistence

# Document loaders
unstructured ~= 0.10
pdf2image ~= 1.16  # For Unstructured

# For HuggingFace embeddings
sentence_transformers == 2.2.2

# For the LLM
gpt4all == 2.0.1

# These are supporting tools
# We don't need the exact minor version
streamlit ~= 1.28

# Linters and formatters (use the latest versions)
pylint
black
prospector
